version: "3.8"

services:
  backend:
    build: ./Clothing
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./clothing-store-frontend
      args: # Pass as build ARG (not runtime env)
        VITE_API_BASE: http://localhost:8080/api
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:

